<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MN Hospital - We are here to help</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/Hlogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="MN Hospital Logo">
            MN Hospital
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>


                
                <li class="nav-item">
                    <a class="nav-link" href="/templates/teleconsultation.html">Teleconsultation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/corona.html">CORONA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/more.html">More</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact.html">Contact Us</a>
                </li>

            </ul>
            

        </div>
        
    </nav>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">It all started with Mr.abc . <span class="text-muted">You'll be
                        surprised!
                    </span></h2>
                <p class="lead">Resident physicians play a double role in hospital activity. They participate in
                    medical practices and thus, on the one hand, they should be considered as an input. Also, they are
                    medical staff in training and, on the other hand, must
                    be considered as an output. The net effect on hospital activities should therefore be empirically
                    determined.Alibert believed that when diagnosing skin disorders several criteria needed to be used, and attempted to introduce a classification system for diseases that was similar to the method Bernard and Antoine Laurent de Jussieu used in botany. Alibert first classified dermatological disorders according to outer appearance, then he divided them into what he called families, genera and species. This system of classification was represented pictorially by Alibert as the "Tree of Dermatoses". Reportedly, from his "tree", Alibert wished to introduce a method rather than a classification system. </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="/images/about.jpg" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">We started MN Hospital in 1877 <span class="text-muted">It was a little
                        step. </span></h2>
                <p class="lead">MN Hospital in Diabetes, Endocrine and
                    Metabolic Disorders at Dhaka, Bangladesh, is a 600-bed multidisciplinary hospital complex of the
                    Diabetic Association of Bangladesh. The hospital was established in 1877 with the financial support
                    of
                    Bangladesh. 3,000 patients are treated
                    in the Out Patients Department (OPD) every day. No other hospital in Bangladesh serves so many
                    diabetes
                    patients.A hospital is a healthcare institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[1] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. A district hospital typically is the major health care facility in its region, with many beds for intensive care and additional beds for patients who need long-term care.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="/images/about2.jpg" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Our hardworking employee. <span class="text-muted">Inspiring. </span>
                </h2>
                <p class="lead">The Office of Central Recruitment is dedicated to placing passionate and qualified
                    applicants in
                    open positions throughout The MN Hospital and MN Health System. Thanks to everyone
                    ever-expanding presence regionally and around the world, we have hundreds of available career
                    opportunities in
                    a variety of departments.Work ethic is a belief that work and diligence have a moral benefit and an inherent ability, virtue or value to strengthen character and individual abilities.[1] Desire or determination to work serves as the foundation for values centered on the importance of work or industrious work. Social ingrainment of this value is considered to enhance character through hard work that is respective to an individual's field of work.[</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="/images/about3.jpg" alt="">

            </div>
        </div>
    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2022-2023 MN Hospital, BD. · <a href="/templates/privacy.html">Privacy</a> · <a
                href="/templates/terms.html">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>