<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MN Hospital - We are here to help</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/Hlogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="MN Hospital Logo">
            MN Hospital
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>


                
                <li class="nav-item">
                    <a class="nav-link" href="/templates/teleconsultation.html">Teleconsultation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/corona.html">CORONA</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/corona.html">CORONA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/more.html">More</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact.html">Contact Us</a>
                </li>

            </ul>
            

        </div>
        
    </nav>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading"><div style="border: 2px solid red;">Know about Deathly Corona Virus </div>
                <p class="lead">At least one million people have died from coronavirus disease 2019 (COVID-19) since January 2020. Many more will die before we find better ways to manage or eradicate this disease, although eradication seems increasingly unlikely. This is a tragedy of almost incomprehensible proportions.
                    That tragedy has combined with another potentially life-threatening problem — an alarming quantity of poor-quality and often directly harmful information about the pandemic and quack cures. World Health Organization (WHO) Director-General Dr. Tedros Adhanom Ghebreyesus warned back in February about this “infodemic.” This warning came a few weeks before the WHO declared in mid-March that COVID-19 was a pandemic, meaning a global epidemic.</p>
                    <a href="https://data.unwomen.org/rga?gad_source=1&gclid=Cj0KCQjwqP2pBhDMARIsAJQ0CzrW8hHMIPi789QCAM6trj6NhcwuXH5IXBhV6j-m4fKRT5uFcLtiN8kaAvwvEALw_wcB" class="stretched-link">Continue reading</a>
                
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="/images/corona.jpg" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Proper guide line needs to be maintained.. <span class="text-muted">Little unconsciousness might cause trouble.</span></h2>
                <p class="lead">Vaccination: Get vaccinated if eligible. Vaccination significantly reduces the risk of severe illness and transmission of the virus.

                    Mask-Wearing: Wear masks, especially in crowded or indoor settings, as they help prevent the spread of respiratory droplets.
                    
                    </p>
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19-how-is-it-transmitted?gclid=Cj0KCQjwqP2pBhDMARIsAJQ0CzpVPNnDUxAkTkfRaP9iHorfWIZjlWtJ-xWLhf9YdVRcmPYpMMYUwaIaAibIEALw_wcB">Continue reading</a>
                
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="/images/sefe.jpg" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Vaccination </h2>
                <p class="lead">The Office of Central Recruitment is dedicated to placing passionate and qualified
                    applicants in
                    open positions throughout The MN Hospital and MN Health System. Thanks to everyone
                    ever-expanding presence regionally and around the world, we have hundreds of available career
                    opportunities in
                    a variety of departments.Work ethic is a belief that work and diligence have a moral benefit and an inherent ability, virtue or value to strengthen character and individual abilities.[1] Desire or determination to work serves as the foundation for values centered on the importance of work or industrious work. Social ingrainment of this value is considered to enhance character through hard work that is respective to an individual's field of work.[</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="/images/corona (2).jpg" alt="">

            </div>
        </div>
    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2022-2023 MN Hospital, BD. · <a href="/templates/privacy.html">Privacy</a> · <a
                href="/templates/terms.html">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>