<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MN Hospital</title>
</head>

<body>
    <!--Dark theme nav-bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/Hlogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="MN Hospital Logo">
            MN Hospital
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>


                
                <li class="nav-item active">
                    <a class="nav-link" href="/templates/teleconsultation.html">Teleconsultation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/corona.html">CORONA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/more.html">More</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/templates/contact.html">Contact Us</a>
                </li>

            </ul>
            
        </div>

    </nav>

    <!-- <div class="container-fluid my-4">
        <h2>Teleconsultation</h2>
        <h4>The process may take time according to traffic. Please stay with us till then!</h4>
        <div class="col-md-5">


            <img class="img-fluid" src="/images/tele2.jpg" alt="">


        </div> -->
        <div class="container my-4">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Teleconsultation.. <span class="text-muted">One of the most growing field!</span></h2>
                    <p class="lead">Telehealth is sometimes discussed interchangeably with telemedicine, the latter being more common than the former. The Health Resources and Services Administration distinguishes telehealth from telemedicine in its scope, defining telemedicine only as describing remote clinical services, such as diagnosis and monitoring, while telehealth includes preventative, promotive, and curative care delivery.[1] This includes the above-mentioned non-clinical applications, like administration and provider education.[2][3]

                        The United States Department of Health and Human Services states that the term telehealth includes "non-clinical services, such as provider training, administrative meetings, and continuing medical education", and that the term telemedicine means "remote clinical services".[6] The World Health Organization uses telemedicine to describe all aspects of health care including preventive care.[7] The American Telemedicine Association uses the terms telemedicine and telehealth interchangeably, although it acknowledges that telehealth is sometimes used more broadly for remote health not involving active clinical treatments.[8]
                        
                        eHealth is another related term, used particularly in the U.K. and Europe, as an umbrella term that includes telehealth, electronic medical records, and other components of health information technology. </p>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid" src="/images/tele2.jpg" alt="">
        
                </div>
            </div>
        <br>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select your concern! </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Dermatology - +880130xxxxxxx </option>
                    <option>Medicine - +88019xxxxxxxx</option>
                    <option>ENT - +88016xxxxxxxx </option>
                    <option>Others - 02xxxx</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">Are you a Member?</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Yes
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">Do you want an appointment?</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck2">
                            Yes
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Tell us about yourself & any issues</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Elaborate Your Concern</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>

                <form>
                    <div class="form-group">
                        <label for="paymentMethod">Select payment method:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>
                            </div>
                            <select class="form-control" id="paymentMethod">
                                <option>Bkash - +880130xxxxxxx</option>
                                <option>Nagad - +88019xxxxxxxx</option>
                                <option>Upay - +88016xxxxxxxx</option>
                                <option>Card</option>
                            </select>
                        </div>
                    </div>
                </form>


            </div>
            <button class="btn btn-primary">Submit</button>
        </form>

    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2022-2023 MN Hospital, BD. · <a href="/templates/privacy.html">Privacy</a> · <a
                href="/templates/terms.html">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>