<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MN Hospital - We are here to help</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/Hlogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="MN Hospital Logo">
            MN Hospital
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>


                
                <li class="nav-item">
                    <a class="nav-link" href="/templates/teleconsultation.html">Teleconsultation</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/corona.html">CORONA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/templates/more.html">More</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/templates/contact.html">Contact Us</a>
                </li>
                  

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h1 class="featurette-heading">TERMS <span class="text-muted">Please follow rules.</span></h1>
                <p class="lead">Patient Confidentiality: Respecting and maintaining the privacy and confidentiality of
                    patients' personal and medical information.

                    Informed Consent: Obtaining the patient's voluntary and informed consent before any medical
                    procedure or treatment, after providing them with all the necessary information regarding the
                    procedure, risks, and benefits.

                    Visiting Hours: Following the designated visiting hours to ensure a conducive environment for
                    patient care and recovery. Visitors should respect any restrictions or limitations imposed by the
                    hospital.

                    No Smoking Policy: Adhering to the hospital's policy of not smoking within the premises, including
                    both indoor and outdoor areas.

                    Noise Control: Maintaining a quiet and peaceful environment within the hospital to facilitate
                    healing and recovery for patients. This involves speaking softly, avoiding unnecessary noise, and
                    adhering to any posted guidelines.

                    Hygiene and Infection Control: Practicing good hand hygiene by washing hands or using hand
                    sanitizers provided. Following any infection control protocols, such as wearing masks or gowns, as
                    instructed by healthcare staff.

                    Restricted Areas: Respecting restricted areas within the hospital that are designated for authorized
                    personnel only. These areas may include operating rooms, intensive care units, or certain
                    administrative areas.

                    Respect for Staff: Showing respect, politeness, and cooperation towards healthcare professionals,
                    including doctors, nurses, and other staff members, while understanding their workload and
                    responsibilities.

                    Payment and Billing: Adhering to the hospital's payment policies, providing accurate information for
                    insurance claims, and settling any financial obligations promptly.

                    Safety Regulations: Following safety guidelines and regulations, such as not tampering with medical
                    equipment, reporting any safety hazards or incidents, and following evacuation procedures in case of
                    emergencies. </p>
            </div>

        </div>


        <footer class="container">
            <p class="float-right"><a href="/templates/terms.html">Back to top</a></p>
            <p>© 2022-2023 MN Hospital, BD. · <a href="/templates/privacy.html">Privacy</a> · <a
                    href="/templates/terms.html">Terms</a></p>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>